file:share/man/man1/rustdoc.1
file:share/man/man1/rustc.1
file:share/doc/rust/README.md
file:share/doc/rust/LICENSE-APACHE
file:share/doc/rust/COPYRIGHT
file:share/doc/rust/LICENSE-MIT
file:bin/rust-gdbgui
file:bin/rust-gdb
file:bin/rust-lldb
file:bin/rustc
file:bin/rustdoc
file:lib/librustc_driver-b945df8fb2526081.so
file:lib/libstd-3859b7e52a41a8fd.so
file:lib/rustlib/etc/gdb_rust_pretty_printing.py
file:lib/rustlib/etc/debugger_pretty_printers_common.py
file:lib/rustlib/etc/gdb_load_rust_pretty_printers.py
file:lib/rustlib/etc/lldb_rust_formatters.py
file:lib/rustlib/x86_64-unknown-linux-gnu/bin/rust-lld
file:lib/rustlib/x86_64-unknown-linux-gnu/lib/libLLVM-9-rust-1.43.1-stable.so
file:lib/librustc_macros-200965acce5eeccb.so
file:lib/libLLVM-9-rust-1.43.1-stable.so
file:lib/libtest-c4aa6514e6be1a7c.so
